@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
  background-image: url("./assets/img1.jpg");
  background-attachment: fixed;
  background-position: center;      /* center the image */
  background-size: cover;  
}




.hover-box:hover {
    background-color: green; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }
  
  .hover-box:hover .left i {
    color: white; /* Change text color of the icon on hover */
  }

.numbers {
  background-image: url(./assets/img3.jpg);
}

.clip {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 20% 0%);
}


.box input::placeholder {
  color: white;
}

.slick-slide > div {
  margin: 0px 10px;
}


textarea {
  resize: none;
}